<% errors = @team.errors.messages %>
<% saved_team = Team.find(@team.id) %>
<div class="card card-app">
  <h5 class="card-header">
    <div class="row">
      <div class="col-auto mr-auto">
        <%= link_to (fa_icon "chevron-left"), series_season_teams_path(@team.season.serie, @team.season),
          method: :get, class: "btn btn-light btn-sm" %>
        <%= saved_team.name %> - edycja
      </div>
    </div>
  </h5>
  <div class="card-body" style="overflow-y: auto">
    <div class="row justify-content-center">
      <div class="col-auto">
        <%= form_for @team, url: series_season_team_path(@team.season.serie, @team.season, @team),
            html: { method: :patch } do |f| %>
          <div class="form-group">
            <%= f.label :name, "Nazwa zespołu" %>
            <%= f.text_field :name, class: "form-control" %>
            <% if errors[:name].length > 0 %>
              <div class="error_message">
                <%= ("Pole " + errors[:name].join("<br />Pole ")).html_safe %>
              </div>
            <% end %>
            <br />
            <div class="custom-control custom-checkbox"
                style="text-align: center;">
              <% name = "team[special_cart]" %>
              <%= check_box_tag name, "true", @team.special_cart,
                  class: "custom-control-input" %>
              <%= label_tag name, "Specjalny gokart?",
                  class: "custom-control-label" %>
            </div>
            <br />
          </div>
          <div style="text-align: center;">
            <%= f.submit "Zapisz", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-auto mr-auto">
        <%= link_to "Wróć", series_season_teams_path(params[:series_id], params[:season_id]) %>
      </div>
      <div class="col-auto m button-header">
        <%= button_to "Usuń zespół", series_season_team_path(@team.season.serie, @team.season, @team),
            method: :delete, class: "btn btn-danger btn-sm",
            data: { confirm: "Czy na pewno chcesz usunąć zespół <strong>" +
                saved_team.name + "</strong>?" } %>
      </div>
    </div>
  </div>
</div>
