<div class="card card-app">
  <h5 class="card-header">
    <div class="row">
      <div class="col-auto mr-auto">
        <%= link_to (fa_icon "chevron-left"),
            series_season_path(@season.serie, @season),
            method: :get, class: "btn btn-light btn-sm" %>
        <%= @season.serie.name + " - " + @season.name %> - zespoły
      </div>
      <% if user_signed_in? %>
        <div class="col-auto m button-header">
          <%= button_to "Dodaj zespół",
              new_series_season_team_path(@season.serie, @season),
              method: :get, class: "btn btn-success btn-sm" %>
        </div>
      <% end %>
    </div>
  </h5>
  <div class="card-body" style="overflow-y: auto;">
    <div class="row justify-content-center">
      <div class="col-auto">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Zespół</th>
                <% if user_signed_in? %>
                  <th scope="col">Specjalny gokart?</th>
                <% end %>
                <th scope="col">Punkty</th>
                <% if user_signed_in? %>
                  <th scope="col"></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% i = 0 %>
              <% @teams.sort_by { |t| [-t.points, t.name.downcase] }.each do |team| %>
                <tr>
                  <th scope="row">
                    <%= i+=1 %>
                  </th>
                  <td>
                    <%= team.name %>
                  </td>
                  <% if user_signed_in? %>
                    <td>
                      <div class="custom-control custom-checkbox"
                          style="text-align: center;">
                        <% name = "team[special_cart]" %>
                        <%= check_box_tag name, "true", team.special_cart,
                            class: "custom-control-input", disabled: true %>
                        <%= label_tag name, "",
                            class: "custom-control-label" %>
                      </div>
                    </td>
                  <% end %>
                  <td class="text-right">
                    <%= number_with_precision(team.points, precision: 2, strip_insignificant_zeros: true) %>
                  </td>
                  <% if user_signed_in? %>
                    <td>
                      <div class="col-auto m button-header">
                        <%= button_to "Edytuj zespół",
                            edit_series_season_team_path(team.season.serie, team.season, team),
                            method: :get, class: "btn btn-primary btn-sm" %>
                      </div>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to "Wróć", :back %>
  </div>
</div>
