<% errors = @team.errors.messages %>
<div class="card card-app">
  <h5 class="card-header">
    Nowy zespół
  </h5>
  <div class="card-body" style="overflow-y: auto">
    <div class="row justify-content-center">
      <div class="col-auto">
        
        <%= form_for @team, url: series_season_teams_path,
            html: { method: :post } do |f| %>
          <div class="form-group">
            <%= f.label :name, "Nazwa zespołu" %>
            <%= f.text_field :name, class: "form-control" %>
            <% if errors[:name].length > 0 %>
              <div class="error_message">
                <%= ("Pole " + errors[:name].join("<br />Pole ")).html_safe %>
              </div>
            <% end %>
            <br />
            <div class="custom-control custom-checkbox"
                style="text-align: center;">
              <% name = "team[special_cart]" %>
              <%= check_box_tag name, "true", @team.special_cart,
                  class: "custom-control-input" %>
              <%= label_tag name, "Specjalny gokart?",
                  class: "custom-control-label" %>
            </div>
            <br />
          </div>
          
          <div style="text-align: center;">
            <%= f.submit "Utwórz", class: "btn btn-success" %>
          </div>
        <% end %>
        
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    <%= link_to "Wróć", :back %>
  </div>
</div>