<% errors = @season.errors.messages %>
<% saved_season = Season.find(@season.id) %>
<div class="card card-app">
  <h5 class="card-header">
    <div class="row">
      <div class="col-auto mr-auto">
        <%= link_to (fa_icon "chevron-left"), series_season_path(@season.serie),
          method: :get, class: "btn btn-light btn-sm" %>
        <%= saved_season.name %> - edycja
      </div>
    </div>
  </h5>
  <div class="card-body" style="overflow-y: auto">
    <div class="row justify-content-center">
      <div class="col-auto">
        <%= form_for @season, url: series_season_path(@season.serie, @season),
            html: { method: :patch } do |f| %>
          <div class="form-group">
            <%= f.label :name, "Nazwa sezonu" %>
            <%= f.text_field :name, class: "form-control" %>
            <% if errors[:name].length > 0 %>
              <div class="error_message">
                <%= ("Pole " + errors[:name].join("<br />Pole ")).html_safe %>
              </div>
            <% end %>
          </div>
          
          <div style="text-align: center;">
            <%= f.submit "Zapisz", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-auto mr-auto">
        <%= link_to "Wróć", series_path(params[:series_id]) %>
      </div>
      <div class="col-auto m button-header">
        <%= button_to "Usuń sezon", series_season_path(@season.serie, @season),
            method: :delete, class: "btn btn-danger btn-sm",
            data: { confirm: "Czy na pewno chcesz usunąć sezon <strong>" +
                saved_season.name + "</strong>?" } %>
      </div>
  </div>
</div>
