<div class="card card-app">
  <h5 class="card-header">
    <div class="row">
      <div class="col-auto mr-auto">
        <%= link_to (fa_icon "chevron-left"), series_path(@season.serie),
            method: :get, class: "btn btn-light btn-sm" %>
        <%= @season.serie.name + " - " + @season.name %>
      </div>
      <div class="col-auto m button-header">
        <%= button_to "Zespoły",
            series_season_teams_path(@season.serie, @season),
            method: :get, class: "btn btn-primary btn-sm" %>
      </div>
      <% if user_signed_in? %>
        <div class="col-auto m button-header">
          <%= button_to "Dodaj rundę",
              new_series_season_round_path(@season.serie, @season),
              method: :get, class: "btn btn-success btn-sm" %>
        </div>
        <div class="col-auto m button-header">
          <%= button_to "Edytuj sezon",
              edit_series_season_path(@season.serie, @season),
              method: :get, class: "btn btn-primary btn-sm" %>
        </div>
      <% end %>
    </div>
  </h5>
  <div class="card-body" style="overflow-y: auto">
    <div class="list-group">
      <% @rounds.sort_by{ |r| r.start_time }.each do |round| %>
        <% content = @content_0 + round.name + @content_1 +
            round.start_time.strftime("%Y-%m-%d %H:%M") + @content_2 +
            round.track_name + @content_3 +
            round.price + @content_4 %>
        <%= link_to content.html_safe,
            series_season_round_path(round.season.serie, round.season, round),
            method: :get, class: "list-group-item list-group-item-action" %>
      <% end %>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to "Wróć", :back %>
  </div>
</div>