<% errors = resource.errors.messages %>
<div class="card card-app">
  <h5 class="card-header">
    Ponowne wysyłanie e-maila aktywującego konto
  </h5>
  <div class="card-body" style="overflow-y: auto">
    <div class="row justify-content-center">
      <div class="col-auto">
        <% devise_error_messages! %>
        
        <%= form_for(resource, as: resource_name,
            url: confirmation_path(resource_name),
            html: { method: :post }) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true,
                value: (resource.pending_reconfirmation? ?
                resource.unconfirmed_email : resource.email),
                class: "form-control" %>
            <% if errors[:email].length > 0 %>
              <div class="error_message">
                <%= t("activerecord.attributes.user.email") + " " +
                    errors[:email].join("<br />" +
                    t("activerecord.attributes.user.email") + " ").html_safe %>
              </div>
            <% end %>
          </div>
        
          <%= f.submit "Wyślij ponownie", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-footer"><%= render "devise/shared/links" %></div>
</div>