<div class="card card-app">
  <h5 class="card-header">
    Ustawienia konta
  </h5>
  <div class="card-body" style="overflow-y: auto">
    <div class="row justify-content-center">
      <div class="col-auto">
        
        <% devise_error_messages! %>
        
        <br /><h3>E-mail i hasło</h3><br />
        
        <% if (current_user.confirmed? && !current_user.is_fake_email &&
            current_user.is_fake_password) %>
          <div style="text-align: center;">
            <div class="alert alert-info" role="alert" style="max-width: 610px;">
              Z powodu utworzenia konta przez zewnętrzny serwis autoryzujący (typu Google, Facebook) ustawione zostało hasło składające się z 20 losowych znaków.<br /><br />
              Klikając w poniższy przycisk na podany adres e-mail zostanie wysłana instrukcja zresetowania hasła i ustawienia własnego.
            </div>
            <%= button_to "Zresetuj hasło", users_reset_password_send_instructions_path,
                method: :post, class: "btn btn-primary" %>
          </div>
          <br />
        <% end %>
        <% if devise_mapping.confirmable? &&
            (resource.pending_reconfirmation? || !resource.confirmed?) %>
          <div class="card border-warning bg-light">
            <h5 class="card-header">
              E-mail nie został potwierdzony!
            </h5>
            <div class="card-body" style="overflow-y: auto">
              <p class="card-text">
                Link potwierdzający został wysłany na <b><%=
                  if !resource.unconfirmed_email.nil?
                    resource.unconfirmed_email
                  elsif !resource.email.nil?
                    resource.email
                  end
                %></b>.
                <%= form_for(resource, as: resource_name,
                    url: confirmation_path(resource_name),
                    html: { class: "form-inline", method: :post }) do |f| %>
                  <%= f.label :email, "E-mail aktywujący nie doszedł?",
                      class: "my-sm-1 mr-sm-2" %>
                  <%= if !resource.unconfirmed_email.nil?
                      f.hidden_field :email, value: resource.unconfirmed_email
                  elsif !resource.email.nil?
                      f.hidden_field :email, value: resource.email
                  end %>
                  <div style="text-align: center;">
                    <%= f.submit "Wyślij ponownie", class: "btn btn-warning btn-sm" %>
                  </div>
                <% end %>
              </p>
            </div>
          </div>
          <br />
        <% end %>
          
        <%= form_for(resource, as: resource_name,
            url: registration_path(resource_name), html: { method: :put }) do |f| %>
          
          <div class="form-group">
            <%= f.label :email, "E-mail" %><br />
            <%= f.email_field :email, class: "form-control" %>
          </div>
          
          <div class="form-group">
            <%= f.label :password, "Nowe hasło" %> <i>(zostaw puste pole, jeśli nie chcesz zmieniać hasła)</i>
            <%= f.password_field :password, autocomplete: "off",
                class: "form-control" %>
            <% if @minimum_password_length %>
              <em>minimum <%= @minimum_password_length %> znaków</em>
            <% end %>
          </div>
          
          <div class="form-group">
            <%= f.label :password_confirmation, "Powtórz nowe hasło" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off",
                class: "form-control" %>
          </div>
          
          <div class="form-group">
            <%= f.label :current_password, "Obecne hasło" %> <i>(potwierdź zmianę e-maila lub hasła wpisując aktualne hasło)</i><br />
            <%= f.password_field :current_password, autocomplete: "off",
                class: "form-control" %>
          </div>
          
          <div style="text-align: center;">
            <%= f.submit "Zmień dane logowania" , class: "btn btn-primary" %>
          </div>
        <% end %>
        <br /><br />
        <p>
          <h4>
            Usuwanie konta<br />
            <div style="text-align: center;">
              <small>Niezadowolony?</small>
            </div>
          </h4>
          <div style="text-align: center;">
            <%= button_to "Usuń konto", registration_path(resource_name),
                data: { confirm: "Czy na pewno chcesz usunąć konto?" },
                method: :delete, class: "btn btn-danger btn-sm" %>
            <i>Operacji nie da się cofnąć!</i>
          </div>
        </p>
      </div>
    </div>
  </div>
  <div class="card-footer"><%= link_to "Wróć", :back %></div>
</div>
