<div class="card card-app">
  <h5 class="card-header">Zarejestruj się</h5>
  <div class="card-body" style="overflow-y: auto">
    <div class="row justify-content-center">
      <div class="col-auto">
        <% devise_error_messages! %>
        
        <%= form_for(resource, as: resource_name,
            url: registration_path(resource_name)) do |f| %>
          
          <div class="form-group">
            <%= f.label :email, "E-mail" %>
            <%= f.email_field :email, class: "form-control" %>
          </div>
        
          <div class="form-group">
            <%= f.label :password, "Hasło" %>
            <% if @minimum_password_length %>
            <em><%= "(minimum " + @minimum_password_length.to_s + " znaków)" %></em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off",
                class: "form-control" %>
          </div>
        
          <div class="form-group">
            <%= f.label :password_confirmation, "Powtórz hasło" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off",
                class: "form-control" %>
          </div>
        
          <div style="text-align: center;">
            <%= f.submit "Zarejestruj się", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <%= render "devise/shared/links" %>
  </div>
</div>