<div class="card card-app">
  <h5 class="card-header">
    Ponowne wysyłanie e-maila odblokowującego konto
  </h5>
  <div class="card-body" style="overflow-y: auto">
    <div class="row justify-content-center">
      <div class="col-auto">
        <% devise_error_messages! %>
        
        <%= form_for(resource, as: resource_name,
            url: unlock_path(resource_name), html: { method: :post }) do |f| %>
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
        
          <div class="actions">
            <%= f.submit "Wyślij ponownie", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-footer"><%= render "devise/shared/links" %></div>
</div>