<%= form_tag starting_teams_series_season_round_path, method: :patch do %>
  <div class="card card-app">
    <h5 class="card-header">
      <div class="row">
        <div class="col-auto mr-auto">
          <%= link_to (fa_icon "chevron-left"),
              series_season_round_path(@round.season.serie, @round.season, @round),
              method: :get,
              class: "btn btn-light btn-sm" %>
          <%= @round.name %> - lista startowa
        </div>
        <% if user_signed_in? %>
          <div class="col-auto m">
            <%= button_tag "Zapisz", class: "btn btn-primary", style: "text-align: center;" %>
          </div>
        <% end %>
      </div>
    </h5>
    <div class="card-body" style="overflow-y: auto;">
      <div class="row justify-content-center">
        <div class="col-auto">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Zespół</th>
                  <% if user_signed_in? %>
                    <th scope="col">Specjalny gokart?</th>
                  <% end %>
                  <th scope="col">Startuje?</th>
                </tr>
              </thead>
              <tbody>
                <% i = 0 %>
                <% @season_teams.sort_by {
                      |t| [@teams.include?(t) ? 0 : 1, t.name.downcase]
                    }.each do |season_team| %>
                  <tr>
                    <div class="form-group">
                      <th scope="row"><%= i+=1 %></th>
                      <td>
                        <%= season_team.name %>
                      </td>
                      <% if user_signed_in? %>
                        <td>
                          <div class="custom-control custom-checkbox"
                              style="text-align: center;">
                            <% name = "teams[" + season_team.id.to_s +
                              "][special_cart]" %>
                            <%= check_box_tag name, "true", season_team.special_cart,
                                class: "custom-control-input", disabled: true %>
                            <%= label_tag name, "",
                                class: "custom-control-label" %>
                          </div>
                        </td>
                      <% end %>
                      <td>
                        <div class="custom-control custom-checkbox"
                            style="text-align: center;">
                          <% name = "teams[" + season_team.id.to_s +
                              "][starting]" %>
                          <%= check_box_tag name, "true",
                              (@teams.include? season_team),
                              disabled: not(user_signed_in?),
                              class: "custom-control-input" %>
                          <%= label_tag name, "",
                              class: "custom-control-label" %>
                        </div>
                      </td>
                    </div>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <%= link_to "Wróć", :back %>
    </div>
  </div>
<% end %>