<% errors = @cart.errors.messages %>
<div class="card card-app">
  <h5 class="card-header">
    <div class="row">
      <div class="col-auto mr-auto">
        <%= link_to (fa_icon "chevron-left"), carts_series_season_round_path(@round.season.serie, @round.season, @round),
          method: :get, class: "btn btn-light btn-sm" %>
        <%= "Gokart #" + @cart.number.to_s %> - edycja
      </div>
    </div>
  </h5>
  <div class="card-body" style="overflow-y: auto">
    <div class="row justify-content-center">
      <div class="col-auto">
        <%= form_for @cart, url: cart_series_season_round_path(@round.season.serie, @round.season, @round, @cart),
            html: { method: :patch } do |f| %>
          <div class="form-group">
            <%= f.label :number, "Numer" %>
            <%= f.number_field :number, class: "form-control", min: 0, step: 1 %>
            <% if errors[:number].length > 0 %>
              <div class="error_message">
                <%= ("Pole " + errors[:number].join("<br />Pole ")).html_safe %>
              </div>
            <% end %>
            <br />
            <div class="custom-control custom-checkbox"
                style="text-align: center;">
              <% name = "cart[special]" %>
              <%= check_box_tag name, "true", @cart.special,
                  class: "custom-control-input" %>
              <%= label_tag name, "Specjalny?",
                  class: "custom-control-label" %>
            </div>
            <br />
          </div>
          <div style="text-align: center;">
            <%= f.submit "Zapisz", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-auto mr-auto">
        <%= link_to "Wróć", series_season_round_path(params[:series_id], params[:season_id], @round) %>
      </div>
      <div class="col-auto m button-header">
        <%= button_to "Usuń gokart", cart_series_season_round_path(@round.season.serie, @round.season, @round, @cart),
            method: :delete, class: "btn btn-danger btn-sm",
            data: { confirm: "Czy na pewno chcesz usunąć gokart <strong>#" +
                @cart.number.to_s + "</strong>?" } %>
      </div>
    </div>
  </div>
</div>
