<% errors = @race_result.errors.messages %>
<div class="card card-app">
  <h5 class="card-header">
    <div class="row">
      <div class="col-auto mr-auto">
        <%= link_to (fa_icon "chevron-left"),
          races_series_season_round_path(@round.season.serie, @round.season, @round),
          method: :get, class: "btn btn-light btn-sm" %>
        <%= @race_result.race.name + ": " + @race_result.team.name %> - punkty
      </div>
    </div>
  </h5>
  <div class="card-body" style="overflow-y: auto">
    <div class="row justify-content-center">
      <div class="col-auto">
        <%= form_for @race_result,
            url: race_result_series_season_round_path(
                @round.season.serie, @round.season, @round,
                race_result_id: @race_result
              ),
            html: { method: :patch } do |f| %>
          <div class="form-group">
            <%#= f.label :time, "Czas" %>
            <%#= f.time_field :time, class: "form-control", step: "0.001" %>
            <%# if errors[:time].length > 0 %>
              <!--<div class="error_message">-->
                <%#= ("Pole " + errors[:time].join("<br />Pole ")).html_safe %>
              <!--</div>-->
            <%# end %>
            <%= f.label :points, "Punkty" %>
            <%= f.number_field :points, class: "form-control", min: 0, step: "any" %>
            <% if errors[:points].length > 0 %>
              <div class="error_message">
                <%= ("Pole " + errors[:points].join("<br />Pole ")).html_safe %>
              </div>
            <% end %>
          </div>
          
          <div style="text-align: center;">
            <%= f.submit "Zapisz", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-auto mr-auto">
        <%= link_to "Wróć", races_series_season_round_path(@round.season.serie, @round.season, @round) %>
      </div>
    </div>
  </div>
</div>
