<% errors = @qualification_result.errors.messages %>
<div class="card card-app">
  <h5 class="card-header">
    <div class="row">
      <div class="col-auto mr-auto">
        <%= link_to (fa_icon "chevron-left"),
          qualification_series_season_round_path(@round.season.serie, @round.season, @round),
          method: :get, class: "btn btn-light btn-sm" %>
        <%= @qualification_result.team.name %> - czas
      </div>
    </div>
  </h5>
  <div class="card-body" style="overflow-y: auto">
    <div class="row justify-content-center">
      <div class="col-auto">
        <%= form_for @qualification_result,
            url: qualification_result_series_season_round_path(
                @round.season.serie, @round.season, @round,
                qualification_result_id: @qualification_result
              ),
            html: { method: :patch } do |f| %>
          <div class="form-group">
            <%= f.label :position, "Pozycja" %>
            <%= f.number_field :position, class: "form-control", min: 1, step: 1 %>
            <%= f.label :time, "Czas" %>
            <%= f.text_field :time, class: "form-control",
                             value: f.object.time.try(:strftime, "%-M:%S,%L") == '0:00,000' ? '' : f.object.time.try(:strftime, "%-M:%S,%L"),
                             pattern: "^([0-5]?[0-9]:)?[0-5]?[0-9](,[0-9]{1,3})?$",
                             title: "mm:ss,000 lub ss,000" %>
            <% if errors[:time].length > 0 %>
              <div class="error_message">
                <%= ("Pole " + errors[:time].join("<br />Pole ")).html_safe %>
              </div>
            <% end %>
          </div>
          
          <div style="text-align: center;">
            <%= f.submit "Zapisz", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-auto mr-auto">
        <%= link_to "Wróć", qualification_series_season_round_path(@round.season.serie, @round.season, @round) %>
      </div>
    </div>
  </div>
</div>
