<% errors = @round.errors.messages %>
<div class="card card-app">
  <h5 class="card-header">
    Nowa runda
  </h5>
  <div class="card-body" style="overflow-y: auto">
    <div class="row justify-content-center">
      <div class="col-auto">
        
        <%= form_for @round, url: series_season_rounds_path,
            html: { method: :post } do |f| %>
          <div class="form-group">
            <%= f.label :name, "Nazwa rundy" %>
            <%= f.text_field :name, class: "form-control" %>
            <% if errors[:name].length > 0 %>
              <div class="error_message">
                <%= ("Pole " + errors[:name].join("<br />Pole ")).html_safe %>
              </div>
            <% end %>
            
            <%= f.label :track_name, "Nazwa toru" %>
            <%= f.text_field :track_name, class: "form-control" %>
            <% if errors[:track_name].length > 0 %>
              <div class="error_message">
                <%= ("Pole " + errors[track_name].join("<br />Pole ")).html_safe %>
              </div>
            <% end %>
            
            <%= f.label :address, "Adres" %>
            <%= f.text_area :address, class: "form-control" %>
            <% if errors[:address].length > 0 %>
              <div class="error_message">
                <%= ("Pole " + errors[address].join("<br />Pole ")).html_safe %>
              </div>
            <% end %>
            
            <%= f.label :start_time, "Czas rozpoczęcia" %>
            <%= f.datetime_local_field :start_time, class: "form-control",
                pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:00$",
                title: "Data i czas w formacie \"rrrr-MM-ddThh:mm:00\"." %>
            <% if errors[:start_time].length > 0 %>
              <div class="error_message">
                <%= ("Pole " + errors[start_time].join("<br />Pole ")).html_safe %>
              </div>
            <% end %>
            
            <%= f.label :price, "Cena wpisowego" %>
            <%= f.text_field :price, class: "form-control",
                pattern: "^[0-9]+(,[0-9]{1,2})? [A-Z]{3}$",
                title: "Cena w formacie \"12,67 PLN\"." %>
            <% if errors[:price].length > 0 %>
              <div class="error_message">
                <%= ("Pole " + errors[:price].join("<br />Pole ")).html_safe %>
              </div>
            <% end %>
            
            <%= f.label :max_number_of_carts, "Maksymalna liczba gokartów na torze" %>
            <%= f.number_field :max_number_of_carts, value: 10, min: 1, step: 1,
                class: "form-control" %>
            <% if errors[:max_number_of_carts].length > 0 %>
              <div class="error_message">
                <%= ("Pole " + errors[:max_number_of_carts].join("<br />Pole ")).html_safe %>
              </div>
            <% end %>
          </div>
          
          <div style="text-align: center;">
            <%= f.submit "Utwórz", class: "btn btn-success" %>
          </div>
        <% end %>
        
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    <%= link_to "Wróć",
        series_season_path(params[:series_id], params[:season_id]) %>
  </div>
</div>