<% errors = @cart.errors.messages %>
<div class="card card-app">
  <h5 class="card-header">
    <%= @round.name + " - Nowy gokart" %>
  </h5>
  <div class="card-body" style="overflow-y: auto">
    <div class="row justify-content-center">
      <div class="col-auto">
        
        <%= form_for @cart, url: new_cart_series_season_round_path(@round.season.serie, @round.season, @round),
            html: { method: :post } do |f| %>
          <div class="form-group">
            <%= f.label :number, "Numer" %>
            <%= f.number_field :number, class: "form-control", min: 0, step: 1 %>
            <% if errors[:number].length > 0 %>
              <div class="error_message">
                <%= ("Pole " + errors[:number].join("<br />Pole ")).html_safe %>
              </div>
            <% end %>
            <br />
            <div class="custom-control custom-checkbox"
                style="text-align: center;">
              <% name = "cart[special]" %>
              <%= check_box_tag name, "true", @cart.special,
                  class: "custom-control-input" %>
              <%= label_tag name, "Specjalny?",
                  class: "custom-control-label" %>
            </div>
            <br />
          </div>
          
          <div style="text-align: center;">
            <%= f.submit "Utwórz", class: "btn btn-success" %>
          </div>
        <% end %>
        
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    <%= link_to "Wróć", :back %>
  </div>
</div>