<div class="card card-app">
  <h5 class="card-header">
    <div class="row">
      <div class="col-auto mr-auto">
        <%= link_to (fa_icon "chevron-left"),
            series_season_round_path(@season.serie, @season, @round),
            method: :get, class: "btn btn-light btn-sm" %>
        <%= @round.name + " - " + @qualification.name %>
      </div>
      <% if user_signed_in? && @qualification.qualification_results.empty? %>
        <div class="col-auto m button-header">
          <%= button_to "Generuj wyniki",
              qualification_generate_result_series_season_round_path(@season.serie, @season, @round),
              method: :get, class: "btn btn-warning btn-sm" %>
        </div>
      <% end %>
    </div>
    <% if user_signed_in? && @qualification.qualification_results.empty? %>
      <div class="row">
        <div class="col-auto m">
          <small>
            Edytuj czasy! A potem generuj wyniki.
          </small>
        </div>
      </div>
    <% end %>
  </h5>
  <div class="card-body card-body-overflow">
    <div class="row justify-content-center">
      <% @qualification.qualification_groups.each do |group| %>
        <div class="col-auto">
          <h4 class="card-text text-center">
            <%= group.name %>
          </h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Zespół</th>
                  <th scope="col">Gokart</th>
                  <th scope="col">Czas</th>
                  <% if user_signed_in? %>
                    <th scope="col"></th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% i = 0 %>
                <% group.qualification_group_results.sort_by {
                      |r| [r.time.nil? ? Time.at(-60*60) : r.time, r.team.name]
                    }.each do |group_result| %>
                  <tr>
                    <th scope="row"><%= i+=1 %></th>
                    <td>
                      <%= group_result.team.name %>
                    </td>
                    <th class="text-center" scope="row">
                      <% unless group_result.cart.nil? %>
                        <%= "#" + group_result.cart.number.to_s %>
                      <% else %>
                        <%= "?" %>
                      <% end %>
                    </th>
                    <td class="text-right">
                      <% unless group_result.time.nil? %>
                        <% if group_result.time.min < 1 %>
                          <%= group_result.time.strftime("%-S,%L") %>
                        <% else %>
                          <%= group_result.time.strftime("%-M:%S,%L") %>
                        <% end %>
                      <% end %>
                    </td>
                    <% if user_signed_in? %>
                      <td>
                        <div class="col-auto m button-header">
                          <%= button_to "Edytuj",
                              qualification_group_result_series_season_round_path(
                                @season.serie, @season, @round,
                                qualification_group_result_id: group_result
                              ),
                              method: :get, class: "btn btn-primary btn-sm" %>
                        </div>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
    <% unless @qualification.qualification_results.empty? %> 
      <div class="row justify-content-center">
        <div class="col-auto">
          <h4 class="card-text text-center">
            Wyniki
          </h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Zespół</th>
                  <th scope="col">Czas</th>
                  <% if user_signed_in? %>
                    <th scope="col"></th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% @qualification.qualification_results.sort_by {
                      |r| r.position
                    }.each do |result| %>
                  <tr>
                    <th scope="row"><%= result.position %></th>
                    <td>
                      <%= result.team.name %>
                    </td>
                    <td class="text-right">
                      <% unless result.time.nil? %>
                        <% if result.time.min < 1 %>
                          <%= result.time.strftime("%-S,%L") %>
                        <% else %>
                          <%= result.time.strftime("%-M:%S,%L") %>
                        <% end %>
                      <% end %>
                    </td>
                    <% if user_signed_in? %>
                      <td>
                        <div class="col-auto m button-header">
                          <%= button_to "Edytuj",
                              qualification_result_series_season_round_path(
                                @season.serie, @season, @round,
                                qualification_result_id: result
                              ),
                              method: :get, class: "btn btn-primary btn-sm" %>
                        </div>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="card-footer">
    <%= link_to "Wróć", :back %>
  </div>
</div>
