<div class="card card-app">
  <h5 class="card-header">
    <div class="row">
      <div class="col-auto mr-auto">
        <%= link_to (fa_icon "chevron-left"),
            series_season_round_path(@season.serie, @season, @round),
            method: :get, class: "btn btn-light btn-sm" %>
        <%= @round.name + " - wyścigi" %>
      </div>
      <% if user_signed_in? && @round.round_results.empty? %>
        <div class="col-auto m button-header">
          <%= button_to "Generuj wyniki",
              results_series_season_round_path(@season.serie, @season, @round),
              method: :get, class: "btn btn-warning btn-sm" %>
        </div>
      <% end %>
    </div>
  </h5>
  <div class="card-body" style="overflow-y: auto;">
    <div class="row justify-content-center">
      <% @races_groups.each do |group| %>
        <div class="col-auto">
          <h4 class="card-text text-center">
            <%= group.name %>
          </h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Zespół</th>
                </tr>
              </thead>
              <tbody>
                <% i = 0 %>
                <% group.teams.sort_by {
                      |t|
                      result = t.qualification_results.select {
                        |r| r.team.id == t.id
                      }.first
                      result.nil? ? 0 : result.position
                    }.each do |team| %>
                  <tr>
                    <th scope="row"><%= i+=1 %></th>
                    <td>
                      <%= team.name %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row justify-content-center">
      <% @races.each do |race| %>
        <div class="col-auto">
          <h4 class="card-text text-center">
            <%= race.name %>
          </h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">P. st.</th>
                  <th scope="col">Zespół</th>
                  <th scope="col">Gokart</th>
                  <th scope="col">Punkty</th>
                  <% if user_signed_in? %>
                    <th scope="col"></th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% race.race_results.sort_by {
                      |r| [r.position, r.starting_position]
                    }.each do |race_result| %>
                  <tr>
                    <th scope="row"><%= race_result.position.to_s %></th>
                    <td class="text-center">
                      <%= race_result.starting_position.to_s %>
                    </td>
                    <td>
                      <%= race_result.team.name %>
                    </td>
                    <th class="text-center" scope="row">
                      <% unless race_result.cart.nil? %>
                        <%= "#" + race_result.cart.number.to_s %>
                      <% else %>
                        <%= "?" %>
                      <% end %>
                    </th>
                    <td class="text-right">
                      <% if race_result.points.frac.zero? %>
                        <%= race_result.points.to_i %>
                      <% else %>
                        <%= race_result.points.to_s.gsub ".", "," %>
                      <% end %>
                    </td>
                    <% if user_signed_in? %>
                      <td>
                        <div class="col-auto m button-header">
                          <%= button_to "Edytuj",
                              race_result_series_season_round_path(
                                @season.serie, @season, @round,
                                race_result_id: race_result
                              ),
                              method: :get, class: "btn btn-primary btn-sm" %>
                        </div>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to "Wróć", :back %>
  </div>
</div>
