<div class="card card-app">
  <h5 class="card-header">
    <div class="row">
      <div class="col-auto mr-auto">
        <%= link_to (fa_icon "chevron-left"), series_season_path(@round.season.serie, @round.season), method: :get,
            class: "btn btn-light btn-sm" %>
        <%= @round.season.serie.name + " - " + @round.season.name + " - " + @round.name %>
      </div>
      <div class="col-auto m button-header">
        <%= button_to "Lista startowa", starting_teams_series_season_round_path(@round.season.serie, @round.season, @round),
            method: :get, class: "btn btn-primary btn-sm" %>
      </div>
      <div class="col-auto m button-header">
        <%= button_to "Gokarty", carts_series_season_round_path(@round.season.serie, @round.season, @round),
            method: :get, class: "btn btn-primary btn-sm" %>
      </div>
      <% if user_signed_in? %>
        <% if @round.qualification.nil? %>
          <div class="col-auto m button-header">
            <%= button_to "Rozpocznij kwalifikacje", qualification_series_season_round_path(@round.season.serie, @round.season, @round),
                method: :get, class: "btn btn-success btn-sm" %>
          </div>
        <% end %>
        <% if @round.races.empty? && not(@round.qualification.nil?) &&
            not(@round.qualification.qualification_results.empty?) %>
          <div class="col-auto m button-header">
            <%= button_to "Rozpocznij wyścigi", races_series_season_round_path(@round.season.serie, @round.season, @round),
                method: :get, class: "btn btn-success btn-sm" %>
          </div>
        <% end %>
        <div class="col-auto m button-header">
          <%= button_to "Edytuj rundę", edit_series_season_round_path(@round.season.serie, @round.season, @round),
              method: :get, class: "btn btn-primary btn-sm" %>
        </div>
      <% end %>
    </div>
  </h5>
  <div class="card-body text-center" style="overflow-y: auto">
    <div class="list-group">
      <h3 class="card-title">
        Tor:<br />
        <strong><%= @round.track_name %></strong>
      </h3>
      <h4 class="card-text">
        Termin:<br />
        <strong><%= @round.start_time.strftime("%d.%m.%Y, godz. %H:%M") %></strong>
      </h4>
      <h5 class="card-text">
        Cena wpisowego:<br />
        <strong><%= @round.price %></strong>
      </h5>
      <p class="card-text">
        Adres:<br />
        <strong><%= (@round.address.gsub "\n", "<br />").html_safe %></strong>
      </p>
      <p class="card-text">
        Maksymalna liczba gokartów:<br />
        <strong><%= @round.max_number_of_carts %></strong>
      </p>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-auto mr-auto">
        <%= link_to "Wróć", :back %>
      </div>
      <% unless @round.round_results.empty? %>
        <div class="col-auto m button-header">
              <%=  button_to "Wyniki", results_series_season_round_path(@round.season.serie, @round.season, @round),
                method: :get, class: "btn btn-primary btn-sm"  %>
        </div>
      <%  end %>
      <% unless @round.races.empty? %>
        <div class="col-auto m button-header">
              <%=  button_to "Wyścigi", races_series_season_round_path(@round.season.serie, @round.season, @round),
                method: :get, class: "btn btn-primary btn-sm"  %>
        </div>
      <%  end %>
      <% unless @round.qualification.nil? %>
        <div class="col-auto m button-header">
              <%=  button_to "Kwalifikacje", qualification_series_season_round_path(@round.season.serie, @round.season, @round),
                method: :get, class: "btn btn-primary btn-sm"  %>
        </div>
      <%  end %>
    </div>
  </div>
</div>
