<div class="card card-app">
  <h5 class="card-header">
    <div class="row">
      <div class="col-auto mr-auto">
        <%= link_to (fa_icon "chevron-left"),
            series_season_round_path(@round.season.serie, @round.season, @round),
            method: :get,
            class: "btn btn-light btn-sm" %>
        <%= @round.name %> - lista gokartów
      </div>
      <% if user_signed_in? %>
        <div class="col-auto m button-header">
          <%= button_to "Dodaj gokart", new_cart_series_season_round_path(@round.season.serie, @round.season, @round),
              method: :get, class: "btn btn-primary btn-sm" %>
        </div>
      <% end %>
    </div>
  </h5>
  <div class="card-body" style="overflow-y: auto;">
    <div class="row justify-content-center">
      <div class="col-auto">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Specjalny?</th>
                <% if user_signed_in? %>
                  <th scope="col"></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @round.carts.sort_by {
                    |rc| rc.number
                  }.each do |cart| %>
                <tr>
                  <div class="form-group">
                    <th scope="row"><%= cart.number %></th>
                    <td>
                      <div class="custom-control custom-checkbox"
                          style="text-align: center;">
                        <% name = "carts[" + cart.id.to_s + "][special]" %>
                        <%= check_box_tag name, "true", cart.special,
                            disabled: true,
                            class: "custom-control-input" %>
                        <%= label_tag name, "",
                            class: "custom-control-label" %>
                      </div>
                    </td>
                    <% if user_signed_in? %>
                      <td>
                        <div class="col-auto m button-header">
                          <%= button_to "Edytuj gokart",
                              cart_series_season_round_path(@round.season.serie, @round.season, @round, cart),
                              method: :get, class: "btn btn-primary btn-sm" %>
                        </div>
                      </td>
                    <% end %>
                  </div>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to "Wróć", :back %>
  </div>
</div>