<div class="card card-app">
  <h5 class="card-header">
    <div class="row">
      <div class="col-auto mr-auto">
        <%= link_to (fa_icon "chevron-left"),
            series_season_round_path(@season.serie, @season, @round),
            method: :get, class: "btn btn-light btn-sm" %>
        <%= @round.name + " - wyniki" %>
      </div>
    </div>
  </h5>
  <div class="card-body" style="overflow-y: auto;">
    <% unless @round.round_results.empty? %> 
      <div class="row justify-content-center">
        <div class="col-auto">
          <h4 class="card-text text-center">
            Wyniki
          </h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Zespół</th>
                  <th scope="col">Punkty</th>
                </tr>
              </thead>
              <tbody>
                <% @round.round_results.sort_by {
                      |r| r.position
                    }.each do |result| %>
                  <tr>
                    <th scope="row"><%= result.position %></th>
                    <td>
                      <%= result.team.name %>
                    </td>
                    <td class="text-right">
                      <% if result.points.frac.zero? %>
                        <%= result.points.to_i %>
                      <% else %>
                        <%= result.points.to_s.gsub ".", "," %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="card-footer">
    <%= link_to "Wróć", :back %>
  </div>
</div>
