<div class="card card-app">
  <h5 class="card-header">
    Zmień hasło
  </h5>
  <div class="card-body" style="overflow-y: auto">
    <% devise_error_messages! %>
    
    <%= form_for(resource, as: resource_name,
        url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>
    
      <div class="form-group">
        <%= f.label :password, "Nowe hasło" %>
        <% if @minimum_password_length %>
          <em>(minimum <%= @minimum_password_length %> znaków)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off",
          class: "form-control" %>
      </div>
    
      <div class="form-group">
        <%= f.label :password_confirmation, "Powtórz nowe hasło" %>
        <%= f.password_field :password_confirmation, autocomplete: "off",
          class: "form-control" %>
      </div>
    
      <%= f.submit "Zmień hasło", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="card-footer">
    <%= render "devise/shared/links" %>
  </div>
</div>