<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<%= link_to "JMP Racing", root_path, class: "navbar-brand" %>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class="navbar-nav mr-auto">
      	<li class="nav-item">
      	  <%= link_to "Serie", series_index_path, class: "nav-link" %>
      	</li>
			</div>
			<ul class="navbar-nav navbar-right">
				<% if user_signed_in? %>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" id="dropdownUserMenu" href="#"
                role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
							<%= current_user.email %>
							<span class="caret"></span>
						</a>
						<div class="dropdown-menu" aria-labelledby="dropdownUserMenu">
						  <%#= link_to "Ustawienia konta", edit_user_registration_path,
						      class: "dropdown-item" %>
						  <%= link_to "Wyloguj się", destroy_user_session_path,
						      method: :delete, class: "dropdown-item" %>
						</div>
					</li>
				<% else %>
          <%= link_to "Zaloguj się", new_user_session_path, class: "nav-link" %>
				<% end %>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container -->
</nav>