<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">JMP Racing</h1>
    <p class="lead">
      Aplikacja do zarządzania serią zawodów.
      <br />
      Kody źródłowe: <%= link_to "https://bitbucket.org/TukanF1/jmp-racing",
        "https://bitbucket.org/TukanF1/jmp-racing", target: "_blank" %>
    </p>
  </div>
</div>
