<div class="card card-app">
  <h5 class="card-header">Logowanie</h5>
  <div class="card-body" style="overflow-y: auto">
    <div class="row justify-content-center">
      <div class="col-auto">
        <% devise_error_messages! %>
        
        <%= form_for(resource, as: resource_name,
            url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :email, "E-mail" %><br />
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
        
          <div class="form-group">
            <%= f.label :password, "Hasło" %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>
          <div style="text-align: center;">
            <div class="form-group">
              <% if devise_mapping.rememberable? -%>
                <div class="custom-control custom-checkbox">
                  <%= f.check_box :remember_me, class: "custom-control-input" %>
                  <%= f.label :remember_me, "Zapamiętaj mnie",
                      class: "custom-control-label" %>
                </div>
              <% end -%>
            </div>
            
            <%= f.submit "Zaloguj się", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-footer"><%= render "devise/shared/links" %></div>
</div>