/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";

.field_with_errors input {
  @extend .is-invalid;
}

.form-inline .field_with_errors {
  display: inline-block;
}

.error_message {
  @extend .invalid-feedback;
  display: block;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar {
  margin-bottom: 10px;
}

.button-header {
  margin: 4px 0;
}

.card-app {
  height: calc(100vh - 76px);
  min-height: 450px;
}

.card-body-overflow {
  overflow-y: auto;
}
