<p>Cześć <%=
    if @resource.first_name.nil?
        @email
    else
        @resource.first_name
    end
%>!</p>

<p>Potwierdź założenie konta klikając w poniższy link:</p>

<p><%= link_to 'POTWIERDZAM ZAŁOŻENIE KONTA', confirmation_url(@resource, confirmation_token: @token) %>.</p>
