<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Twój e-mail jest zmieniany na <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Twój e-mail został zmieniony na <%= @resource.email %>.</p>
<% end %>
