<p>Cześć <%=
    if @resource.first_name.nil?
        @resource.email
    else
        @resource.first_name
    end
%>!</p>

<p>Pragniemy poinformować, że hasło do twojego konta zostało zmienione.</p>
