<% errors = @serie.errors.messages %>
<% saved_serie = Serie.find(@serie.id) %>
<div class="card card-app">
  <h5 class="card-header">
    <div class="row">
      <div class="col-auto mr-auto">
        <%= link_to (fa_icon "chevron-left"), series_path(@serie), method: :get,
            class: "btn btn-light btn-sm" %>
        <%= saved_serie.name %> - edycja
      </div>
    </div>
  </h5>
  <div class="card-body" style="overflow-y: auto">
    <div class="row justify-content-center">
      <div class="col-auto">
        <%= form_for @serie, url: series_path(@serie),
            html: { method: :patch } do |f| %>
          <div class="form-group">
            <%= f.label :name, "Nazwa serii" %>
            <%= f.text_field :name, class: "form-control" %>
            <% if errors[:name].length > 0 %>
              <div class="error_message">
                <%= ("Pole " + errors[:name].join("<br />Pole ")).html_safe %>
              </div>
            <% end %>
          </div>
          
          <div style="text-align: center;">
            <%= f.submit "Zapisz", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-auto mr-auto">
        <%= link_to "Wróć", :back %>
      </div>
      <div class="col-auto m button-header">
        <%= button_to "Usuń serię", series_path(@serie), method: :delete,
            class: "btn btn-danger btn-sm",
            data: { confirm: "Czy na pewno chcesz usunąć serię <strong>" +
                saved_serie.name + "</strong>?" } %>
      </div>
    </div>
  </div>
</div>
