<div class="card card-app">
  <h5 class="card-header">
    <div class="container">
      <div class="row">
        <div class="col-auto mr-auto">
          Serie
        </div>
        <% if user_signed_in? %>
          <div class="col-auto m button-header">
            <%= button_to "Stwórz serię", new_series_path,
                method: :get, class: "btn btn-primary btn-sm" %>
          </div>
        <% end %>
      </div>
    </div>
  </h5>
  <div class="card-body" style="overflow-y: auto">
    <div class="list-group">
      <% @series.sort_by{ |s| s.name }.each do |serie| %>
        <% content = @content_0 + serie.name + @content_1 +
            serie.ended_seasons_counter.to_s + @content_2 + @content_3 +
            serie.seasons.size.to_s + @content_4 %>
        <%= link_to content.html_safe, series_path(serie), method: :get,
            class: "list-group-item list-group-item-action" %>
      <% end %>
    </div>
  </div>
</div>
