<% errors = @serie.errors.messages %>
<div class="card card-app">
  <h5 class="card-header">
    Nowa seria
  </h5>
  <div class="card-body" style="overflow-y: auto">
    <div class="row justify-content-center">
      <div class="col-auto">
        
        <%= form_for @serie, url: series_index_path,
            html: { method: :post } do |f| %>
          <div class="form-group">
            <%= f.label :name, "Nazwa serii" %>
            <%= f.text_field :name, class: "form-control" %>
            <% if errors[:name].length > 0 %>
              <div class="error_message">
                <%= ("Pole " + errors[:name].join("<br />Pole ")).html_safe %>
              </div>
            <% end %>
          </div>
          
          <div style="text-align: center;">
            <%= f.submit "Utwórz", class: "btn btn-success" %>
          </div>
        <% end %>
        
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    <%= link_to "Wróć", :back %>
  </div>
</div>