<div class="card card-app">
  <h5 class="card-header">
    <div class="row">
      <div class="col-auto mr-auto">
        <%= link_to (fa_icon "chevron-left"), series_index_path, method: :get,
            class: "btn btn-light btn-sm" %>
        <%= @serie.name %>
      </div>
      <% if user_signed_in? %>
        <div class="col-auto m button-header">
          <%= button_to "Dodaj sezon", new_series_season_path(@serie),
              method: :get, class: "btn btn-success btn-sm" %>
        </div>
        <div class="col-auto m button-header">
          <%= button_to "Edytuj serię", edit_series_path(@serie),
              method: :get, class: "btn btn-primary btn-sm" %>
        </div>
      <% end %>
    </div>
  </h5>
  <div class="card-body" style="overflow-y: auto">
    <div class="list-group">
      <% @seasons.sort_by{ |s| s.name }.each do |season| %>
        <% content = @content_0 + season.name + @content_1 +
            season.ended_rounds_counter.to_s + @content_2 + @content_3 +
            season.rounds.size.to_s + @content_4 %>
        <%= link_to content.html_safe, series_season_path(season.serie, season),
            method: :get,
            class: "list-group-item list-group-item-action" %>
      <% end %>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to "Wróć", :back %>
  </div>
</div>